body.page .content .password-error {
  font-weight: 300;
  font-family: "freight-sans-pro", sans-serif;
  font-size: 1.6rem;
  line-height: 2.3rem;
  color: #fff;
  background: #f00;
  padding: 1rem 1.5rem 1rem 4.5rem;
  margin: 3rem auto;
  border-radius: 5px;
}
body.page .content .password-error:before {
  content: "!";
  display: block;
  position: absolute;
  background: #fff;
  color: #f00;
  width: 2.3rem;
  height: 2.3rem;
  border-radius: 100%;
  text-align: center;
  font-weight: 500;
  margin-left: -3.4rem;
  text-indent: 0;
}
body.page .content .password {
  font-family: monospace;
  font-weight: 300;
  background: #eee;
}
body.page .content blockquote {
  background: transparent;
  color: #555;
}
